<template>
    <ur-stepper componentid="<%= UID %>"  class="ur-counter-ide ur-counter-updown" v-model="<%= UID %>__value" alignment="center" controlType="updown" size="medium" :editable="true"/>
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__value: 0
        }
    }
}
</script>

<style scoped>
    [componentid="<%= UID %>"] {
        width:164px;
        height:32px;
    }
</style>
