<template>
    <ur-form-item-container componentid="<%= UID %>__form" label="Checkbox">
        <ur-checkbox-wrapper componentid="<%= UID %>" v-model="<%= UID %>__value" :items="<%= UID %>__items" size="medium"/>
    </ur-form-item-container>
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__value: [],
            <%= UID %>__items: [
              { text: 'Check 1', value: '1' },
              { text: 'Check 2', value: '2' },
              { text: 'Check 3', value: '3' }
            ]
        }
    }
}
</script>
