@CHARSET "UTF-8";

body {
	margin-top: 50px;
	font-size: 12px;
	font-family:'맑은고딕','NanumGothic', 'MalgunGothic';
}

.container {
	position: relative;
	width: 700px;
	margin: 0 auto;
}

/* 상단 이미지 영역 */
#header {
	margin: 0 auto;
	position: relative;
}

#top_img{
	margin-bottom: 40px;
}

#header,#section,#article,.content {
	display: block;
}

ul,ol,dl {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

a img {
	border: none;
}


#downloadTable {
	margin: 20px 0;
}

#downloadTable table {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	border: solid #ccced2 1px;
}

#downloadTable table tr th {
	background-color: #f6f6f6;
	border: solid #ccced2 1px;
	height: 40px;
	font-size: 12px;
	line-height: 16px;
}

#downloadTable table tr td {
	border: solid #ccced2 1px;
	height: 50px;
}

#progrmaName {
	width: 100px;
}

#supportOS {
	width: 150px;
}

/* 브라우져 지원범위 */
#supportBS {
	width: 350px;
}

/* 지원범위 td */
.supportBStd{
	text-align: left;
	padding-left: 10px;
	letter-spacing: 1px;
}

/* 설치상태 */
#installStatus {
	width: 100px;
}

.btn_gray_ang {
    display: inline-block;
    margin: 0 1px 1px 0;
    box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    font-family: "나눔고딕", "NG", "돋움", "dotum";
    border-width: 1px;
    border-style: solid;
    vertical-align: middle;
    line-height: 1.5em;
    padding: 5px 13px;
    color: #666;
    border-color: #9e9e9e;
    cursor: pointer;
}