/* °øÅë */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 15px;
	vertical-align: baseline;
	background: transparent;
	font-family: sans-serif;
	font-weight: 400;
	color: #333e4b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


a {
	margin: 0;
	padding: 0;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

.snb {
	background: #4b5366;
	padding-top: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 220px;
}

ul {
	width: 100%;
}

ul li a{
	height: 40px;
	text-align: center;
	border-top: 1px solid #585f71;
	border-bottom: 1px solid #3f4659;
	font-weight: 700;
	color: #000;
	line-height: 40px;
	cursor: pointer;
	font-size: 13px;
}