<template>
    <sui-checkbox componentid="<%= UID %>" v-model="<%= UID %>__value">Sample</sui-checkbox>
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__value: false
        }
    }
}
</script>
