<template>
    <div componentid="<%= UID %>" style="padding: 8px;">
        <span id="<%= UID %>__anchor">Tooltip anchor</span>
        <ur-tooltip target-id="<%= UID %>__anchor">Tooltip contents</ur-tooltip>
    </div>
</template>