<template>
    <ur-determinate-progress componentid="<%= UID %>" shape="circle" 
                            v-model="<%= UID %>__value"
                            message="Loading"
                            messageDirection="bottom"
                            size="medium"/>
</template>

<script>
export default {
    data(){
        return{
          <%= UID %>__value: 60
        }
    }
}
</script>
