<template>
    <ur-lnb componentid="<%= UID %>" :sideMenu="<%= UID %>__side_menu" />
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__side_menu: [
                [
                    {
                        'name': 'LNB Menu1',
                        'url': '/lnb/menu01',
                        'displayYn': 'Y',
                        'fold': false,
                        'hasChild': true,
                        'children': [
                            {
                                'name': 'LNB Menu1-1',
                                'url': '/lnb/menu01/menu01',
                                'displayYn': 'Y',
                                'fold': false,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu1-1-1',
                                        'url': '/lnb/menu01/menu01/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu1-1-2',
                                        'url': '/lnb/menu01/menu01/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            },
                            {
                                'name': 'LNB Menu1-2',
                                'url': '/lnb/menu01/menu02',
                                'displayYn': 'Y',
                                'fold': true,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu1-2-1',
                                        'url': '/lnb/menu01/menu02/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu1-2-2',
                                        'url': '/lnb/menu01/menu02/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        'name': 'LNB Menu2',
                        'url': '/lnb/menu02',
                        'displayYn': 'Y',
                        'fold': true,
                        'hasChild': true,
                        'children': [
                            {
                                'name': 'LNB Menu2-1',
                                'url': '/lnb/menu02/menu01',
                                'displayYn': 'Y',
                                'fold': true,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu2-1-1',
                                        'url': '/lnb/menu02/menu01/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu2-1-2',
                                        'url': '/lnb/menu02/menu01/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            },
                            {
                                'name': 'LNB Menu2-2',
                                'url': '/lnb/menu02/menu02',
                                'displayYn': 'Y',
                                'fold': true,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu2-2-1',
                                        'url': '/lnb/menu02/menu02/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu2-2-2',
                                        'url': '/lnb/menu02/menu02/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        'name': 'LNB Menu3',
                        'url': '/lnb/menu03',
                        'displayYn': 'Y',
                        'fold': true,
                        'hasChild': true,
                        'children': [
                            {
                                'name': 'LNB Menu3-1',
                                'url': '/lnb/menu03/menu01',
                                'displayYn': 'Y',
                                'fold': true,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu3-1-1',
                                        'url': '/lnb/menu03/menu01/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu3-1-2',
                                        'url': '/lnb/menu03/menu01/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            },
                            {
                                'name': 'LNB Menu3-2',
                                'url': '/lnb/menu03/menu02',
                                'displayYn': 'Y',
                                'fold': true,
                                'hasChild': true,
                                'children': [
                                    {
                                        'name': 'LNB Menu3-2-1',
                                        'url': '/lnb/menu03/menu02/menu01',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    },
                                    {
                                        'name': 'LNB Menu3-2-2',
                                        'url': '/lnb/menu03/menu02/menu02',
                                        'displayYn': 'Y',
                                        'fold': true,
                                        'hasChild': false,
                                        'children': []
                                    }
                                ]
                            }
                        ]
                    },
                ]
            ]
        }
    }
}
</script>
<style scoped>
  [componentid="<%= UID %>"] {
    height: 600px;
  }
</style>