<template>
    <sui-module-submodule-select
        componentid="<%= UID %>"
        :selectedMd="<%= UID %>__SELECTEDMD"
        :selectedSmd="<%= UID %>__SELECTEDSMD"
        :customMdList="<%= UID %>__CUSTOMMD"
        :customSmdList="<%= UID %>__CUSTOMSMD"        
        defaultMdOption="'all'"
        defaultSmdOption="'all'"
    />    
</template>

<script>
export default {
    data(){
        return{
            <%= UID %>__SELECTEDMD: {label: '',key: '',},
            <%= UID %>__SELECTEDSMD:  {label: '',key: '',},
            <%= UID %>__CUSTOMMD: [{label: '',key: '',}],
            <%= UID %>__CUSTOMSMD:  [{label: '',key: '',}]
        }
    }
}
</script>
