<template>
    <ur-icon-button componentid="<%= UID %>" v-model="<%= UID %>__value" size="large" color="normal" icon="bookmark" iconType="picto" borderless>bookmark</ur-icon-button>
</template>

<script>
export default {
    data(){
        return{
          <%= UID %>__value: false
        }
    }
}
</script>
